<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connSQL" connectionString="Data Source=MASTRO;Initial Catalog=BDVimaponto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VimapontoTest.Controller.Properties.Settings.BDVimapontoConnectionString1"
            connectionString="Data Source=MASTRO;Initial Catalog=BDVimaponto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>